.header {
  margin: 2em 0;
  border-radius: 10px;
  padding: 1em 1.5em;
  background-color: var(--header-color);
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.header a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1em;
}

.header a:hover {
  color: white;
}

.header-logo {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.header-title {
  font-style: italic;
}
