.cards-tab {
  display: grid;
  grid-auto-flow: column;
  max-width: 500px;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.cards-tab-item {
  padding: 1em;
  background-color: var(--header-color);
  cursor: pointer;
}

.cards-tab-item:hover {
  color: var(--text-color-highlight);
}

.cards-tab-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cards-tab-item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.filter-cards {
  margin-bottom: 1em;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  justify-content: flex-end;
  padding: 1em;
}

.card-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
}

.card-item-unknown {
  border-radius: 10px;
  background-color: #161616;
  width: 180px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.card-item-unknown::after {
  content: "";
  width: 5em;
  height: 5em;
  background-color: var(--text-color);
  opacity: .2;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
}
