.hcards {
  display: grid;
  gap: 1em;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .hcards {
    justify-content: flex-start;
    grid-auto-flow: column;
  }  
}

.hcards-placeholder {
  border-radius: 10px;
  background-color: #161616;
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hcards-placeholder::after {
  content: "";
  width: 5em;
  height: 5em;
  background-color: var(--text-color);
  opacity: .2;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
}

.hcards-specs {
  display: grid;
  gap: 1em;
}

.hcards-specs > div {
  display: grid;
}

.hcards-specs label {
  font-size: 1em;
  font-weight: bold;
  opacity: .5;
  text-transform: uppercase;
  margin-bottom: .25em;
}

.hcards-specs select {
  max-width: 200px;
}