.icon-book {
  mask-image: url("/img/ico/book-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/book-svgrepo-com.svg");
}

.icon-command {
  mask-image: url("/img/ico/command-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/command-svgrepo-com.svg");
}

.icon-check-list {
  mask-image: url("/img/ico/check-list-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/check-list-svgrepo-com.svg");
}

.icon-about-us {
  mask-image: url("/img/ico/about-us-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/about-us-svgrepo-com.svg");
}

.icon-discord {
  mask-image: url("/img/ico/discord-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/discord-svgrepo-com.svg");
}

.icon-question-circle {
  mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
}

.icon-menu {
  mask-image: url("/img/ico/menu-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/menu-svgrepo-com.svg");
}

.icon-github {
  mask-image: url("/img/ico/github-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/github-svgrepo-com.svg");
}

.icon-twitter {
  mask-image: url("/img/ico/twitter-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/twitter-svgrepo-com.svg");
}
//
.icon-windows {
  mask-image: url("/img/ico/windows-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/windows-svgrepo-com.svg");
}

.icon-linux {
  mask-image: url("/img/ico/linux-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/linux-svgrepo-com.svg");
}

.icon-apple {
  mask-image: url("/img/ico/apple-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/apple-svgrepo-com.svg");
}

.icon-freebsd {
  mask-image: url("/img/ico/freebsd-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/freebsd-svgrepo-com.svg");
}
