.tcards-filter {
  margin-bottom: 1em;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  justify-content: flex-end;
  padding: 1em;
}

.tcards-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
}

.tcards-item-unknown {
  border-radius: 10px;
  background-color: #161616;
  width: 180px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.tcards-item-unknown::after {
  content: "";
  width: 5em;
  height: 5em;
  background-color: var(--text-color);
  opacity: .2;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
  -webkit-mask-image: url("/img/ico/question-mark-circled-svgrepo-com.svg");
}
